#counter {
    color: #9fcdff;
}

.green {
    color: #00ff00 !important;
}

div {
    color: #aaa;
}

div {
    margin: 5px;
}

span {
    margin: 0 2px;
}
span.currency:after {
    content: "Hello\1f477";
}
span.currency:before {
    content: "\1f477";
}

.header {
    height: 200px;
    /* background: no-repeat 0 0/100% url(https://assets.ithillel.ua/images/splash/offline-homepage-ua-splash-1920@1x.jpg); */
    background-image: url(https://assets.ithillel.ua/images/splash/offline-homepage-ua-splash-1920@1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10px;
}

.section {
    background-color: #5a6268;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    flex: 0 0 300px;
}


.section img {
    width: 100%;
    transition: transform .3s ease;
}

.section img:hover {
    width: 100%;
    transform: scale(1.5);
}

.section .item {
    display: block;
    border: solid 1px gray;
    border-radius: 10px;
    background-color: #9fcdff;
    color: #062c33;
    cursor: pointer;
    user-select: none;
    padding: 2px 5px;
    width: fit-content;
    margin: 5px 0;
    text-decoration: none;
}

.section .item:hover {
    color: #dc06cc;
}

.section .item:active {
    padding: 3px 4px 1px 6px
}


form {
    display: grid;
    justify-content: space-around;
    line-height: 2em;
}

div.catalog {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}

mycustomtag {
    font-size: 20px;
    color: #9e9e2b;
}

body {
    background-color: #ffffba;
}

